     <!-- Background Section -->
    <section id="background" class="content-section text-center" style="background-color: #000000;">
        <div class="background-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" >

                <h2>Background</h2>
                <h3>About</h3>
                <p>On April 23rd, the Ku Klux Klan and white nationalists are holding a white power march on Stone Mountain. We are coordinating a mass gathering on Stone Mountain to shut down the march and disrupt further white supremacist efforts.</p>

                <h3>Principles</h3>
                <p>This mobilisation against white supremacy coalesced around a shared set of principles, which we intend to embody in our organising and on April 23. We strongly recommend you read them before attending the demonstration. 

                <h5><a href="/principles">read principles</a></h5>

                <h3>History of Stone Mountain, GA</h3>

                <p>Stone mountain is a deeply historical location in the South. Long before its adoption as a monument to the confederacy it was of ceremonial importance to the Creek Nation. Since the beginning of the twentieth century it has become a focal point for white supremacist activity.</p>

                <h5><a href="/principles">read more about the history of stone mountain</a></h5>

                <a href="#contact" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down"></i>
                </a>
                </div>
            </div>
        </div>
    </section>
