   <!-- Endorsements Section -->
    <section id="endorse" class="container content-section text-center" style="background-color: #000000;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Endorsements</h2>
                <p>The following groups endorse the All Out ATL mobilization: <br><br>
    <a href ="http://afainatl.wordpress.com">Atlanta Antifascist Notes</a><br />
		Atlanta Industrial Workers of the World<br />
		Atlanta Ultras<br />
    <a href="http://www.blackmattersus.com">Black Matters</a><br />
		<a href ="http://makingnoiseinthesouth.com/index.php/category/about-us/black-rose-north-georgia/"> Black Rose North Georgia </a><br />
		Bombs Away Collective (Athens)<br />
		Charlotte Showing Up for Racial Justice (NC)<br />
    Feminist Outlawz<br />
    Food Not Bombs Atlanta<br />
		<a href="https://twitter.com/highrollercrew"> High Roller Records (AL)</a><br />
        <a href="https://intlantifadefence.wordpress.com/about-2/">International Anti-Fascist Defence Fund</a><br />
        <a href="https://kyworkers.org/">Kentucky Workers League</a><br />        
		Panhandle Progressive Coalition (FL)<br>
    <a href="http://rosecityantifa.org">Rose City Antifa (OR)</a><br />
    <a href="https://www.facebook.com/SavannahComrades">Savannah Comrades</a><br />
    <a href="http://streetgroomers.org/">Street Groomers (Atlanta)</a>
    <br />    
    <a href="http://www.whiterosesociety.com/">White Rose Society (National)</a>
    <br />        

		<p>Please get in <a href="#contact" class="page-scroll">contact</a> if your organization agrees with our <a href="principles" class="page-scroll">principles</a> and would like to be added as an endorser.</p>
    

       	    </div>
        </div>
    </section>