    <!-- Intro Header -->
    <header class="intro" style="background-color: #000000; height: 100vh;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading" style="font-family:sans-serif; letter-spacing:-8px; font-weight:900">ALL OUT ATL</h1>
			<h3 class="intro-text" style="font-family: Futura,Trebuchet,MS,Arial,sans-serif; letter-spacing:-2px">April 23rd 2016</h3>
			<h5 class="intro-text">Stop the Klan and disrupt white power organizing on Stone Mountain</h5>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
