     <!-- Jail Support Section -->
    <section id="jailsupport" class="content-section" style="background-color: #000000;">
        <div class="background-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" >

                <h2>Jail Support</h2>
<p>Cell:  (770) 681-5994 (call any time)<br>
Landline:  (770) 638-8822 (call from jail)<br>
<a href="mailto:atlantajailsupport@riseup.net">atlantajailsupport@riseup.net</a></p>

<p>The jail support team will try to bail you out and help with legal issues if you get arrested. We're <a href="https://actionnetwork.org/fundraising/legal-support-for-anti-kkk-protesters">raising funds</a>, but we may also need help to get you out quickly. Providing your info is not mandatory. But if you are arrested, it will help us get you out.</p>

<h3><a href="mailto:atlantajailsupport@riseup.net?subject=Info for [YOURNAME]
&body= Check one:  %0D%0A
__ Review this info ahead of time to make sure it's complete %0D%0A
__ Do not look at this info unless I am arrested %0D%0A
 %0D%0A
YOUR INFO %0D%0A
Full legal name (what it says on your ID): %0D%0A
What you prefer to be called (if different):  %0D%0A
Date of Birth (mm/dd/yyyy):  %0D%0A
Citizenship / immigration status:  %0D%0A
Legal gender (what it says on your ID): %0D%0A
Gender identity:  %0D%0A
Social security number: %0D%0A
MAILING ADDRESS you plan to supply to authorities if arrested (this must be somewhere you can reliably get paper mail for a minimum of 12 months after the action):  %0D%0A
Email address:  %0D%0A
Best phone (mobile / home / work):           %0D%0A
2nd phone (mobile / home / work): %0D%0A
 %0D%0A
WHO WE SHOULD CONTACT %0D%0A
Name  %0D%0A
Relationship to you  %0D%0A
Phone number (mobile / home / work):                  %0D%0A
2nd phone (mobile / home / work): %0D%0A
When you would like this person to be contacted or not contacted, and how best to frame messages. Should we contact this person immediately? (contact them even if it's the middle of the night? Wait until you're about to miss work?)  %0D%0A
What should we know when we speak to them? %0D%0A
What should we tell them? (Come bail me out? Just fyi I've been arrested?)  %0D%0A
Any other instructions or things we should know?  %0D%0A
 %0D%0A
Backup contact  %0D%0A
Name  %0D%0A
Relationship to you  %0D%0A
Phone number (mobile / home / work):                  %0D%0A
2nd phone (mobile / home / work): %0D%0A
When you would like this person to be contacted or not contacted, and how best to frame messages. Should we contact this person immediately? (contact them even if it's the middle of the night? Wait until you're about to miss work? Contact this person also, or only if #1 is unreachable?)  %0D%0A
What should we know when we speak to them? %0D%0A
What should we tell them? (Come bail me out? Just fyi I've been arrested?)  %0D%0A
Any other instructions or things we should know?  %0D%0A
 %0D%0A
Other backup contacts  %0D%0A
 %0D%0A
MEDICAL ISSUES %0D%0A
Do you have any medical issues? If so, please detail your condition and what you might need in jail, including special treatment, diet, medication, and possible complications. Do you have any prescriptions? Allergies? (If you have important prescriptions or significant health issues please make certain to speak with someone on the jail support team:  (770) 681-5994.)
 %0D%0A
 %0D%0A
LEGAL ISSUES %0D%0A
Do you have any legal issues? (Possible outstanding warrants, a previous criminal record, immigration status, etc.) %0D%0A
 %0D%0A
IF JAILED %0D%0A
Do you have any other concerns or needs which might cause you to be singled out or treated differently in jail?  %0D%0A
 %0D%0A
What do you need us to do for you if you get arrested? Feed your cat, etc. We will try but no promises.  %0D%0A
 %0D%0A
Are there other non-emergency people that we should try to contact (for example: employer, childcare, pet sitter, professor)? We'll do our best to contact these people, but no promises.  %0D%0A
 %0D%0A
BAIL  %0D%0A
How should we handle bail for you? How urgent is it for you to get out?  Do you need to be bailed out before others?  %0D%0A
 %0D%0A
Who can we contact to raise funds for bail, and do you have any personal funds you can contribute? %0D%0A
 %0D%0A
How do you feel about bail bond? (i.e., paying a bail bond agent a percentage of the total bond, which they keep as their fee)  %0D%0A
 %0D%0A
Names, positions and phone numbers of people who can be contacted by the court to verify your community ties. For example bosses, volunteer coordinators, teachers, church leaders, etc. This can sometimes get you bailed out more easily.">Fill Out The Jail Support Form</a></h3>
<h5>To copy/paste the form, <a href="https://docs.google.com/document/d/11shAdHAaDC1MSeCRKEdwwJQl41Uu8SGSzXdMEapW_I4/edit?usp=sharing">click here</a>, and then email it to atlantajailsupport@riseup.net</h5>
<h5><a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x7AB33DD9703B6871">GPG Key</a></h5>

<h3>BEFORE THE ACTION</h3>
<ul>
<li>Write the jail support numbers on your leg in permanent marker in case you're arrested and have all your stuff taken.</li>
<li>Send your answers to the jail support questions. Answer as much as you are comfortable with.  The more info we have, the easier it will be to help you.
<li>If you don't want to email, call us and give us your info over the phone: (770) 681-5994.
<li>If you don't want us to hold your info at all, give a trusted person your info and our number. Give us their number. Tell them when you will check in with them. They can call us if you go missing. </li></ul>

<ul><b>DURING THE ACTION </b>
<li>If you see someone on our side being arrested, try to get their name and special needs (e.g. medical concerns), and call us on the cell: (770) 681-5994.</li></ul>

<ul><b>IF YOU ARE ARRESTED </b>
<li>Call us from jail. Use the landline: (770) 638-8822. You can also try the cell: (770) 681-5994. </li></ul>
                </div>
            </div>
        </div>
    </section>
