    <!-- Join Section -->
    <section id="join" class="content-section text-center" style="background-color: #000000;">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" >
                    <h2>Support</h2>
             <h3>Contribute Funds</h3>
             <p>
             Contribute to the legal fund, to ensure that we can support anyone who may get arrested while standing against the Klan.<br>
             <a href="https://actionnetwork.org/fundraising/legal-support-for-anti-kkk-protesters">Donate Via Credit Card</a><br />
             Donate Via Bitcoin: 
            <b>1A4z7gXTuv5nNhCHBDNWh1kPi4uENmoiK6</b>
             </p>
             <h3>Spread the word</h3>
             <p>
			 &#8226; Print and distribute these materials: <a href="/img/stopkkkflier1.pdf">Poster 1</a> | <a href="/img/ALLOUTATLFLYER1_8point5x11.pdf">Poster 2</a> | <a href="/img/noklanposter.pdf">Poster 3</a> | <a href="/img/antiklan-halfsheet.png">B/W Flyer</a> | <a href="/img/clubflyer.pdf">Color Flyer</a><br>
			 &#8226; <a href="#contact">Email us</a> to feature your organisation on this page. <br>		  
		     </p>
             <p>

                    <a href="#endorse" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down"></i>
                        </a>
		<p></p>
                </div>
            </div>
        </div>
    </section>