    <!-- Principles section -->
    <section id="principles" class="content-section text-center" style="background-color: #000000;">
        <div class="about-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Principles</h2>
		    <h3>Our principles are:</h3>
             	    <p>
		 	1. Our solidarity is grounded in a shared opposition to white supremacy. In
our coordinating efforts, we will not tolerate behavior that perpetuates
the oppression of marginalized people <br><br>
                        2. Police, politicians, and government authorities will not solve the
problem of racism for us. We must rely on ourselves and one another to
end white supremacy. We support grassroots, anti-racist coordination
in our communities, workplaces, and on the streets.<br><br>
		        3. We aim to create a culture of trust, solidarity, and support in our mobilization. We recognize that participants have different ideas, abilities, and perspectives on how to best obstruct white supremacist efforts. Our opposition will be stronger if we understand the diversity of our perspectives and strategies as an asset.<br><br>
			4. The diversity of our movement means that no one person can speak on behalf
of all participants in the actions against white supremacy. Similarly, no
person can decide the actions someone else should take. Coherent and
effective efforts against racism must also include a consciousness of how
our actions impact those most vulnerable and at-risk amongst us.<br>
                    </li>
                </ol>
		<p></p>
                </div>
            </div>
        </div>
    </section>

