    <!-- Updates Section -->
    <section id="updates" class="container content-section text-center" style="background-color: #000000;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Updates</h2>
                <p>
                We are now one month out from April 23, when we plan to confront and stop a neo-Nazi and KKK-organized rally at Stone Mountain Park outside Atlanta GA. This is an update on how anti-racist organizing is moving along and how you can help to make it a success, with info for those travelling from out of town.
<br />
The goal of the All Out ATL mobilization is to shut down the KKK: to prevent them from rallying and from building their movement based on violence and intimidation. The anti-racist mobilization may involve confronting Klan members and the police who protect them, but there are plenty of ways to be involved. There is no single way to shut down the KKK; we encourage groups to arrive with their own plans of action.
<br />
All Out ATL will announce a meetup time and place for the morning of the 23rd at least one week in advance. To get the announcement, sign up for emails on alloutatl.com, follow @alloutatlanta on Twitter and/or join the event page on Facebook. Share the meetup information far and wide once it’s released.
<br />
We are asking people to:<br />
<ul>
<li>Take April 23rd off work! Also, now is a good time to make arrangements for childcare.</li>
<li>Print outreach posters and flyers (link) and distribute them in your neighborhood, school, workplace or anywhere people gather. Make the movement as visible as possible.</li>
<li>Raise funds. We are currently organizing an Atlanta Solidarity Fund for potential legal expenses from April 23rd.</li>
<li>Make materials, banners and signs with your friends. Also, talk together about how you will contribute to the action.</li>
<li>Organize discussions, presentations, film screenings and fundraisers in your community between now and April 23rd. If you’re hosting a public event, please let us know so we can spread the word.</li>
</ul>
There will be space for out-of-towners to camp.  You should arrive with some basic needs already provided for. Bring a sleeping bag, clothes for marching in warm weather, and cash for supplies.  
<br />
See you on the 23rd!
</p>
                  <a href="#principles" class="btn btn-circle page-scroll">
                      <i class="fa fa-angle-double-down"></i>
                  </a>
		<p></p>
            </div>
        </div>
    </section>


