    <!-- Updates Section -->
    <section id="updates" class="container content-section text-center" style="background-color: #000000;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Updates</h2>
                <p>
                <a href="/update/2016/04/05/update/">April 5th Update</a><br />
                <a href="/update/2016/03/23/update/">March 23rd Update</a>
                </p>
                  <a href="/#endorsements" class="btn btn-circle page-scroll">
                      <i class="fa fa-angle-double-down"></i>
                  </a>
		<p></p>
            </div>
        </div>
    </section>


