<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}

    <div style="height: 20vh;">
    </div>

<section class="news">
<div class = "news-section; height: 100vh;"">
<div class="posts">
   <div class="col-md-8 col-md-offset-2">
  {% include convergence.html %}
 </div>
</div>
</div>
</section>
    <div style="height: 20vh;">
    </div>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
